<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	<typeAliases>
		<!-- 선민(course 기능 관련) -->
		<typeAlias type="com.test.pulse.model.course.GPXCourseDTO" alias="gdto"/>
		<typeAlias type="com.test.pulse.model.course.ManualCourseDTO" alias="mdto"/>
		<typeAlias type="com.test.pulse.model.course.CourseCardDTO" alias="carddto"/>
		
	</typeAliases>
	
</configuration>














