<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	<typeAliases>
		<!-- 선민(course 기능 관련) -->
		
		<typeAlias type="com.test.pulse.model.course.GPXCourseDTO" alias="gdto"/>
		<typeAlias type="com.test.pulse.model.course.ManualCourseDTO" alias="mdto"/>
		<typeAlias type="com.test.pulse.model.course.CourseCardDTO" alias="carddto"/>
		<typeAlias type="com.test.pulse.model.workout.WorkoutDTO" alias="wdto"/>
		<typeAlias type="com.test.pulse.model.workout.WorkoutLogDTO" alias="wldto"/>
		
		
		<!-- 진혁(계정정보, 건의게시판 관련) -->
		
		<typeAlias type="com.test.pulse.model.user.AccountInfoDTO" alias="adto" />
		<typeAlias type="com.test.pulse.model.boardsuggestion.BoardSuggestionDTO" alias="sdto" />
		
		
		<!-- 홍건(공지게시판 관련) -->
        <typeAlias type="com.test.pulse.model.boardnotice.BoardNoticeDTO" alias="bndto" />
       

		<!-- 재만(크루-모델 패키지 전체) -->

		<package name="com.test.pulse.model.crew" />

	</typeAliases>
	
</configuration>














