<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    🔵 namespace = Mapper.java 인터페이스 이름과 매핑되는 이름
    BoardNoticeMapper.java 내부의 메서드명과
    아래 id들이 정확히 일치해야 작동함
-->
<mapper namespace="com.test.pulse.mapper.BoardNoticeMapper">

    <!-- 🔵 목록 조회 -->
    <select id="list" resultType="bndto">
        SELECT boardSeq, writer, title, content, regdate, readCount
        FROM tblBoardNotice
        ORDER BY boardSeq DESC
    </select>

    <!-- 🔵 상세보기 -->
    <select id="view" parameterType="int"
            resultType="bndto">
        SELECT boardSeq, writer, title, content, regdate, readCount
        FROM tblBoardNotice
        WHERE boardSeq = #{seq}
    </select>

    <!-- 🔵 글쓰기 -->
    <insert id="add" parameterType="bndto">
	    INSERT INTO tblBoardNotice (
	        boardSeq, writer, title, content, attach
	    )
	    VALUES (
	        seqBoardNotice.nextVal,
	        #{writer}, #{title}, #{content}, #{attach}
	    )
	</insert>
    
    <!-- 조회수 증가 -->
	<update id="increaseReadCount" parameterType="int">
	    UPDATE tblBoardNotice
	    SET readCount = readCount + 1
	    WHERE boardSeq = #{seq}
	</update>

    <!-- 🔵 수정 -->
    <update id="edit" parameterType="bndto">
        UPDATE tblBoardNotice
        SET title = #{title},
            content = #{content}
        WHERE boardSeq = #{boardSeq}
    </update>

    <!-- 🔵 삭제 -->
    <delete id="del" parameterType="int">
        DELETE FROM tblBoardNotice WHERE boardSeq = #{seq}
    </delete>
    
    <!-- 페이징 목록 -->
    <select id="listPaging" resultType="bndto">
    <![CDATA[
    	select *
    	from (
    		select a.*, rownum rnum
    		from (
    			select boardSeq, writer, title, content, regdate, readCount
    			from tblBoardNotice
    			order by boardSeq desc
    		) a
    		where rownum <= #{offset} + #{pageSize}
    	)
    	where rnum > #{offset}
    ]]>
    </select>
    
    <!-- 전체 게시물 수 -->
    <select id="totalCount" resultType="int">
    	select count(*) from tblboardnotice
    </select>

</mapper>
