<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.pulse.mapper.CourseMapper">
	
	<insert id="insertCourse" parameterType="gdto">
		<selectKey keyProperty="courseSeq" resultType="int" order="BEFORE">
        	SELECT seqCourse.NEXTVAL FROM DUAL
    	</selectKey>
    	
		insert into tblCourse 
		(courseSeq, courseName, accountId, courseApproval, description, courseLength, startAddress, endAddress, trackData, regdate)
		VALUES
		(
			#{courseSeq},
		    #{courseName},
		    #{accountId},
		    default,
		    #{description},
		    #{courseLength},
		    #{startAddress},
		    #{endAddress},
		    #{trackData, jdbcType=CLOB},
		    default
		)
	</insert>

	<select id="getCourseDetail" parameterType="int" resultType="gdto">
		select * from tblCourse where courseSeq = #{courseSeq}
	</select>
	
	<select id="getAllCourses" resultType="carddto">
		select
		    courseSeq, courseName, round(courseLength, 2) as courseLength, startAddress, endAddress, accountId, 0 as favoriteCount
		from tblCourse
		order by courseSeq desc
	</select>
	<!-- 나중에 이 쿼리로 교체...where절 포함시켜야 함
		select
		    courseSeq, courseName, round(courseLength, 2) as courseLength, startAddress, endAddress, accountId, 0 as favoriteCount
		from tblCourse
		where courseApproval='승인'
		order by courseSeq desc
	 -->
	
</mapper>