<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.pulse.mapper.UserMapper">
	
	<insert id="add" parameterType="com.test.pulse.model.user.AccountInfoDTO">
	
		INSERT INTO tblAccountInfo(accountId, password, profilePhoto, nickname, accountRole, accountSeq, accountLevel, registerType, accountCategory)
			VALUES (#{accountId}, #{password}, #{profilePhoto}, #{nickname}, DEFAULT, seqaccountinfo.nextval, DEFAULT, DEFAULT, DEFAULT)
	
	</insert>
	
	<insert id="addDetail" parameterType="com.test.pulse.model.user.AccountInfoDTO">
	
		INSERT INTO tblAccountInfoDetail(accountInfoDetailSeq, accountId, name, phoneNum, birthday, gender, regionCity, regionCounty, regionDistrict, exerciseFrequency, joinDate)
			VALUES (seqAccountInfoDetail.nextVal, #{accountId}, #{name}, #{phoneNum}, TO_DATE(#{birthday,jdbcType=VARCHAR}, 'YYYY-MM-DD'), #{gender}, #{regionCity}, #{regionCounty}, #{regionDistrict}, #{exerciseFrequency, jdbcType=VARCHAR}, DEFAULT)
	
	</insert>
	
	<select id="get" parameterType="com.test.pulse.model.user.AccountInfoDTO" resultType="com.test.pulse.model.user.AccountInfoDTO">
	
		select 
			accountId,
			password,
			profilePhoto,
			nickname,
			AccountRole,
			accountSeq,
			AccountLevel,
			registerType,
			accountCategory
		from tblAccountInfo
			where accountId = #{accountId}
	
	</select>
	
	<select id="getDetail" parameterType="com.test.pulse.model.user.AccountInfoDTO" resultType="com.test.pulse.model.user.AccountInfoDTO">
	
		select 
			accountInfoDetailSeq,
			accountId,
			name,
			phoneNum,
			birthday,
			gender,
			regionCity,
			regionCounty,
			regionDistrict,
			exerciseFrequency,
			joinDate
		from tblAccountInfoDetail
			where accountId = #{accountId}
	
	</select>
	
	<update id="update" parameterType="com.test.pulse.model.user.AccountInfoDTO">
	
		UPDATE tblAccountInfo
		SET
			profilePhoto = #{profilePhoto},
			nickname = #{nickname}
		WHERE accountId = #{accountId}
	
	</update>
	
	<update id="updateDetail" parameterType="com.test.pulse.model.user.AccountInfoDTO">
	
		UPDATE tblAccountInfoDetail
		SET
			name = #{name},
			phoneNum = #{phoneNum},
			birthday = #{birthday},
			gender = #{gender},
			regionCity = #{regionCity},
			regionCounty = #{regionCounty},
			regionDistrict = #{regionDistrict},
			exerciseFrequency = #{exerciseFrequency}
		WHERE accountId = #{accountId}
	
	</update>
	
	<update id="deleteaccount" parameterType="com.test.pulse.model.user.AccountInfoDTO">
	
		UPDATE tblAccountInfo
		SET
			password = '$2a$10$pJfzStnrO5ulUNcv6R6Vr.vdan/Fzy3iIM3Z8Mj13Zjor.PXHD9c.',
			profilePhoto = 'pic.png',
			nickname = '탈퇴회원',
			AccountRole = ' ',
			AccountLevel = 0,
			registerType = ' ',
			accountCategory = '탈퇴'
		WHERE accountId = #{accountId}
	
	</update>
	
	<update id="deleteaccountDetail" parameterType="com.test.pulse.model.user.AccountInfoDTO">
	
		UPDATE tblAccountInfoDetail
		SET
			name = ' ',
			phoneNum = ' ',
			birthday = TO_DATE('1111-01-01', 'YYYY-MM-DD')',
			gender = ' ',
			regionCity = ' ',
			regionCounty = ' ',
			regionDistrict = ' ',
			exerciseFrequency = ' '
		WHERE accountId = #{accountId}
	
	</update>
	
</mapper>













